.loader{
    padding: 4rem 0;
}
.loader{
    width: 120px;
}

.loader{
    width: 120px;
    height: 120px;
    padding: 4rem 0;
    border: 10px solid;
    border-radius: 50%;
    border-top-color: transparent;
    margin: 0 auto;
    color: rgb(175, 37, 37);
    animation: load .5s linear infinite;
}

@keyframes load{
    to{
        transform: rotate(360deg) scale(1);
    }
}