.header-login h2{
    flex-grow: 1;
    padding-left: 40px;
}

h2{
  padding: 10px;
  text-align: center;

}

.modal-container{
  margin: 20px;
}

.header-login{
display: flex;

align-items: center;
}

.modal-close{
 
    margin-right: 20px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.login-content {
  border: 3px groove var(--red-color);
  max-width: 500px;
  width: 90%;
  position: absolute;
  top: 75%;
  left: 47%;
  transform: translate(-50%, -100%);
  z-index: 9999;
  margin: 0.8em;
  background-color: var(--alt-black-color);
}

.form {
  display: flex;
  flex-direction: column;
}

.form input{
    margin: 0.2em 0.5em;
    padding: 0.3em;
    border: 2px solid var(--red-color);
    border-radius: 7px;
}

.form input::placeholder{
  color: var(--black-color);
}

.form button{
    color: aliceblue;
    background-color: var(--red-color);
    margin: 1em auto;
    padding: 0.3em;
    border-radius: 7px;
    width: 10em;
}

hr {
  border: none;
  border-top: 1px solid var(--red-color);
  height: 2px;
  width: 80%;
  margin: auto;
}


span{
  display: inline-block;
  text-align: center;
}

#btn-signup-modal{
  display: inline-block;
  border: 2px solid var(--red-color);
  border-radius: 5px;
  margin-left: 5rem;
}



.signup-div{
  margin: auto;
  padding-left: 35px;
}

@media(max-width: 450px){
  .login-content{
    top: 85%
  }
}

#eye-icon{
  position: absolute;
    top: 70.5%;
    left: 92%;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    &:hover {
      color: var(--black-color);
      
    }
}

@media(max-width: 520px){
  #eye-icon{left: 90%;}
}

@media(max-width: 420px){
  #eye-icon{left: 88%;}
}

