.header-content{
    min-height: 65vh;
    background: linear-gradient(rgba(107, 42, 42, 0.3), rgba(0, 0, 0, 0.5)), url("../../images/library-img2.png") center/cover no-repeat;
    flex-direction: column;
}
.header-title{
    font-size: 4.2rem;
}
.header-text{
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 650px;
}